table,th,td{
    border: 2px solid red;
    text-transform: uppercase;
    color: skyblue;
    text-align: center;
    width: 50%;
    height: 100px;
}
tr > td:nth-child(odd){
    width: 25%;
}
tr:nth-child(even){
    height: 500px;
}